<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <th:block th:replace="layout :: link-css"></th:block>
  <title>Add Phòng</title>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class ="container">
  <h1>Add Phong</h1>
  <form th:action="@{/PhongBans/add}" th:object="${PhongBan}" method="post">
    <div class="col-6 mb-3">
      <label class="form-label" for="Ten_Phong">Ten Phong:</label>
      <input class="form-control" type="text" th:field="*{Ten_Phong}" id="Ten_Phong">
    </div>
    <input type="submit" class="btn btn-primary" value="save">
  </form>
  <br>
  <a th:href="@{/PhongBans}">Back to List</a>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>